/**
 * Poster v0.1.0
 * A React webapp to list upcoming movies and maintain a watchlist, powered by TMDb
 *
 * Author: Kushal Pandya <kushalspandya@gmail.com> (https://doublslash.com)
 * Date: 03 June, 2016
 * License: MIT
 *
 * Main Poster Stylesheet
 */

.poster-header {
    height: 64px;

    .navbar-default {
        background-color: #77b3d4;

        .navbar-brand {
            color: #FFFFFF;
            font-weight: bold;

            &:hover {
                color: darken(#FFFFFF, 10%);
            }
        }

        .navbar-collapse {

            li > a {
                &,
                &:focus {
                    color: #FFFFFF;
                }

                &.active {
                    background: darken(#77B3D4, 20%);
                }
            }
        }
    }
}

.poster-footer {
    padding: 4rem 0;
    margin-top: 200px;
    color: #FFFFFF;
    background-color: #4f5d73;
    box-shadow: 0 2px 6px darken(#4F5D73, 20%) inset;
}

.poster-section {

    .jumbotron {
        margin-top: 10px;

        h2, p {
            text-align: center;
        }
    }
}
