/**
 * Poster v0.1.0
 * A React webapp to list upcoming movies and maintain a watchlist, powered by TMDb
 *
 * Author: Kushal Pandya <kushalspandya@gmail.com> (https://doublslash.com)
 * Date: 03 June, 2016
 * License: MIT
 *
 * Main Poster Stylesheet
 */

.navbar-default {
    background-color: #77b3d4;

    .navbar-brand {
        color: #FFFFFF;
        font-weight: bold;

        &:hover {
            color: darken(#FFFFFF, 10%);
        }
    }

    .navbar-collapse {

        li > a {
            color: #FFFFFF;
        }
    }
}
